@font-face {
  font-family: Billabong;
  src: url('./fonts/Billabong.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto/Roboto-Medium.ttf');
}

h1,
p {
  margin: 0;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.space {
  flex: 1;
}

:root {
  --line: #dbdbdb;
  --linedark: #a5a7aa;
  --primarydark: #fafafa;
  --primary: #ffffff;
  --fontlight: #8b8b8b;
  overflow-y: hidden;
}
